@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @keyframes textLarge {
  from {
    background-color: blueviolet;
  }
  to {
    background-color: aqua;
    padding: 50px;
  }
}

.box:hover {
  animation: textLarge 0.2s ease 3s normal;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom font families for Figma design */
.font-plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* Glassmorphic Bar Component */
.bar-glass-effect {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.05) 100%
    ),
    linear-gradient(
      180deg,
      rgba(40, 40, 40, 0.1) 0%,
      rgba(248, 248, 248, 0.1) 100%
    );
}
